{
    admin off
    auto_https disable_redirects
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    servers {
        protocol {
            allow_h2c
        }
    }
}

{$HTTP_ADDRESS}, {$HTTPS_ADDRESS} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    respond "Hello, World!"
}
